/* override */
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  &::after {
    content: none !important;
  }
  &::before {
    content: none !important;
  }
}
.slick-track {
  margin: auto !important;

  img {
    margin: auto !important;
    width: 100%;
  }
}
button:focus {
  outline: none !important;
}

.slick-next,
.slick-prev {
  opacity: 1 !important;
}
iframe {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 0px;
    z-index: 999;
  }
  .slick-next {
    right: 0px;
    z-index: 999;
  }
}
